{% extends 'base.html' %} {% block content %}
<div class="py-5">
  <div class="container">
    <div class="row row-cols-md-3 justify-content-center">
      <div class="card py-5 px-3 shadow-sm">
        <h3 class="text-center">Sign Up</h3>
        <form action="/signup" method="POST">
          {{ form.csrf_token }}
          <div class="mb-3">
            <label class="form-label">{{ form.username.label }}</label>
            {{ form.username(class='form-control') }}
            <ul>
              {% for error in form.username.errors %}
              <li class="error">{{ error }}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="mb-3">
            <label class="form-label"> {{ form.password.label }}</label>
            {{ form.password(type="password", class='form-control') }}
          </div>
          {{ form.submit(class='btn btn-primary') }}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
